body{
	background-image: linear-gradient(skyblue,aliceblue);
	text-decoration:none;
}

heading{
	display:flex;
	justify-content: center;
	align-items: center;
	
}
h1{
	font-family:'Rubik Bubbles';
	color:aliceblue;
	font-size:100px;
	text-align: center;
		
	
}
.button {
	text-align: center;
	border: 10px aliceblue;
	z-index:-100;
}
#btn_instagram{
	font-family:'Rubik Bubbles';
	color:aliceblue;
	font-size:50px;
	text-align: center;
	position:relative;
	bottom:50px;
	

}
ul{
	font-family: 'Pacifico' , cursive;
	background-color:aliceblue;
	text-align: center;
	text-decoration:none;
	
}

ul li{
	display:inline-block;
	position:relative;
	text-decoration:none;
}

ul li a{
	display:block;
	padding:20px 25px;
	font-size: 16px;
	color:skyblue;
	text-align: center;
	text-decoration:none;
}

ul li ul.dropdown li{
	display:block;
	background:aliceblue;
	margin:2px 0px;
	text-decoration:none;

}

ul li ul.dropdown {
	width:auto;
	background: transparent;
	position:absolute;
	display:none;
	text-decoration:none;
	
}
ul li a:hover{
	background:blue;
	
}
ul li:hover ul.dropdown{
	display:block;
	
}

.cloudborder{
	margin:0;
	position:relative;
	align-content: center;
}
.cloud1{
	position:absolute;
	
}
.cloud2{
	width:10000px;
	
}
